/* Custom styles */
body {
    background-color: #ffffff;
}

#feedback {
    font-weight: bold;
    font-size: 1rem;
}

#question {
    /* background-image: radial-gradient(#f3f2ff, #d7d4ff) !important; */
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    overflow: hidden;
}

#quiz-container {
    background-color: transparent;
}

#next-btn, #submit-btn {
    background-color: #221c76 !important;
    color: #ffffff !important;
}

#next-btn:disabled, #submit-btn:disabled {
    background-color: #e6e6e6 !important;
    color: #000000 !important;
}

#controls {
    max-width: 768px;
    margin: 0 auto;
    gap: 1rem;
}

#scoreboard {
    display: none;
}

.btn {
    border-radius: 10px !important;
    padding: .75rem .5rem;
    display: inline-block;
    width: 100%;
}

.container {
    max-width: 768px;
    margin-bottom: 5rem;
}

.controls-container {
    width: 100%;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 10000;
    bottom: 0;
    background-color: white !important;
}

.controls-container::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    left: 0;
    bottom: 100%;
}

.choice-letter {
    font-weight: 600;
    display: none;
}

.form-check {
    position: relative !important;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    transition: 150ms all;
}

.form-check:hover {
    background-color: #f1f1f1;
}

.form-check-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: .5rem !important;
    opacity: .2;
    transition: 150ms all;
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: unset !important;
}

.form-check-input:checked {
    background-color: #b2adff !important;
    box-shadow: none !important;
    border: 4px #b2adff solid !important;

}

.form-check .form-check-input {
    margin-left: 0 !important;
    margin-top: 0px !important;
    border-radius: 10px !important;
}

.form-check-label {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.offcanvas-header {
    justify-content: right;
}

.offcanvas.offcanvas-bottom {
    height: 50vh !important;
}

.percentage-container {
    padding: 0.5rem 1rem;
    background-color: #f1f1f1;
    border-radius: 100px;
}

.question-content {
    display: block;
    font-size: 1.5rem;  
    line-height: 1.5; 
}

.question-number {
    font-size: 1rem;
    margin-bottom: .75rem;
    border-radius: 100px;
    padding: .5rem 1rem;
    display: inline-block;
    background-color: #f1f1f1;
    width: fit-content;
}

.score-container {
    padding: 0.5rem 1rem;
    background-color: #f1f1f1;
    border-radius: 100px;
    margin-right: 1rem;
}

button {
    background-color: rgb(153, 65, 175) !important;
    border: none !important;
}
